/*
* Colors
* ======================================================================== */

:root {
  --white-base:      white;
  --gray-darkest:    color(black lightness(+8%));
  --gray-darker:     color(black lightness(+13.5%));
  --gray-dark:       color(black lightness(+25%));
  --gray:            color(black lightness(+33.5%));
  --gray-light:      color(black lightness(+46.7%));
  --gray-lighter:    color(black lightness(+93.5%));
  --color-primary:   #0f0;
  --color-secondary: #fff;
  --color-error:     color(red lightness(-5%));
}
