@import './variables.css';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--preferred-font);
  background-color: var(--gray-darkest);

  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #020202;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
