@import './colors.css';

:root {
  /*
  * Typography
  * ======================================================================== */

  --preferred-font: 'Helvetica', 'Arial', sans-serif;
  --performance-font: 'Helvetica', 'Arial', sans-serif;
  --font-size-base: 22px;
  --font-size-s: 18px;
  --font-size-xs: 14px;

  /*
  * Layout
  * ======================================================================== */

  --max-content-width: 1000px;

  /*
  * Media queries breakpoints
  * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
  * Animations
  * ======================================================================== */

  --animation-swift-out: 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

  /*
  * Components
  * ======================================================================== */

  --navigation-width: 260px;

  /*
  * Spinner
  * ======================================================================== */

  --heu-spinner-margin: 40px auto;
  --heu-spinner-size: 40px;
  --heu-spinner-color: var(--color-primary);
}
