<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not __DEVELOPMENT__ and assets.commons.css %}
      <link rel="stylesheet" href="{{ assets.commons.css }}">
    {% endif %}

    {% block styles %}

    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body>
    <div id="app">{% block content %}{% endblock %}</div>
    {% if __DEVELOPMENT__ %}
      <script src="/dist/vendors.js"></script>
      <script src="{{ assetsPath  }}/commons.js"></script>
    {% else %}
      <script src="{{ assets.commons.js }}"></script>
    {% endif %}
    {% block scripts %}

    {% endblock %}
    {% if __DEVELOPMENT__ %}
      <script src="/reload/reload.js"></script>
    {% endif %}
  </body>

</html>
